section {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 15vh;
}
.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(#000000, 0.3), 0px 20px 40px rgba(#000000, 0.3);
  .bg img {
    max-width: 100%;
    height: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
  }

  .avatar-info {
    text-align: center;
    margin-top: -50px;
    img {
      border: 5px solid white;
      border-radius: 50%;
    }

    h3 {
      color: $primary_very_dark_desaturated_blue;
      margin-top: 1rem;
    }

    p {
      margin-top: 0.5rem;
      color: $neutral_dark_gray;
      font-weight: lighter;
    }
    .age {
      color: $primary_dark_grayish_blue;
      font-weight: lighter;
    }
  }

  hr {
    margin-top: 1rem;
    opacity: 0.1;
  }

  .stats {
    padding: 1rem 2rem;
    @include flex(space-around, center, row);

    .followers {
      text-align: center;
      h5 {
        color: $primary_very_dark_desaturated_blue;
        font-size: $header5;
      }
      p {
        letter-spacing: 0.1rem;
        font-size: small;
        color: $primary_dark_grayish_blue;
      }
    }

    .likes {
      text-align: center;
      h5 {
        color: $primary_very_dark_desaturated_blue;
        font-size: $header5;
      }
      p {
        letter-spacing: 0.1rem;
        font-size: small;
        color: $primary_dark_grayish_blue;
      }
    }

    .photos {
      text-align: center;
      h5 {
        color: $primary_very_dark_desaturated_blue;
        font-size: $header5;
      }
      p {
        letter-spacing: 0.1rem;
        font-size: small;
        color: $primary_dark_grayish_blue;
      }
    }
  }
}
