@import "global";
@import "card";

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: white;
}
.attribution a {
  color: $primary_very_dark_desaturated_blue;
}

@media screen and (max-width: 1120px) {
  section {
    padding: 0rem 1rem;
  }
}
