* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../images/bg-pattern-top.svg") no-repeat right 50vw bottom 40vh, url("../images/bg-pattern-bottom.svg") no-repeat left 50vw top 40vh, #19a2ae;
  background-attachment: fixed;
  -webkit-animation: anim 2s ease-in alternate;
          animation: anim 2s ease-in alternate;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
}

@-webkit-keyframes anim {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes anim {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white url("../images/bg-pattern-card.svg") no-repeat top/contain;
  background-attachment: local;
  border-radius: 1rem;
  top: 20vh;
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.card hr {
  margin-top: 1rem;
  width: 30vw;
  opacity: 0.1;
}

.card .avatar-info {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}

.card .avatar-info img {
  margin-top: 7rem;
  border-radius: 50%;
  border: 5px solid white;
}

.card .avatar-info h3 {
  font-size: 1rem;
  color: #2d3248;
}

.card .avatar-info p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #969696;
}

.card .avatar-info .age {
  color: #6a6f81;
  font-weight: lighter;
}

.card .stats {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card .stats .followers h5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2d3248;
}

.card .stats .followers p {
  color: #969696;
  letter-spacing: 0.2rem;
  font-size: small;
}

.card .stats .likes h5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2d3248;
}

.card .stats .likes p {
  color: #969696;
  letter-spacing: 0.2rem;
  font-size: small;
}

.card .stats .photos h5 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2d3248;
}

.card .stats .photos p {
  color: #969696;
  letter-spacing: 0.2rem;
  font-size: small;
}

.attribution {
  position: absolute;
  top: 100%;
  left: 37%;
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

.attribution a {
  color: #2d3248;
}

@media screen and (max-width: 900px) {
  .attribution {
    left: 10%;
  }
  .card {
    width: 95vw;
  }
  .card hr {
    width: 95vw;
  }
  .card .avatar-info img {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 95vw;
  }
  .card hr {
    width: 95vw;
  }
  .card .avatar-info img {
    margin-top: 15rem;
  }
}
/*# sourceMappingURL=style.css.map */